*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f2ee;
}
#weather-info{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    margin-bottom: 20px;
}
#weather-info h1{
    font-size: 45px;
}
#weather-info input{
    height: 45px;
    width: 350px;
    font-size: 16px;
    padding-left:5px;
    border: 1px solid rgb(193, 191, 191);
    border-radius: 5px;
}
#weather-info input:focus{
    outline: 1px solid gray;
}
#weather-info button{
    height: 45px;
    width: 350px;
    font-size: 16px;
    border: none;
    background-color: #1c9f4e;
    color:white;
    border-radius: 5px;
}
#weather-info button:hover{
    background-color: #1eab54;
    cursor: pointer;
}

#weather-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
}